.div1{
    background-color: blue;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}


.triangle{
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}